.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;

    /* background-color: rgb(17 25 40 / 72%); */

    /* background: #bbbbbb1a;
    backdrop-filter: blur(3px); */

    backdrop-filter: blur(12px) saturate(185%);

    /* border-bottom: 1px solid rgb(255 255 255 / 12.5%); */

    /* box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;  */

}

